# Node / Frontend
node_modules/
npm-debug.log*
yarn.lock

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json

# Docker
*.zip
.env
